

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
.h1 {
  @apply text-[40px] xl:text-[60px] leading-[1.1] font-semibold
}
 .h2 {
    @apply text-[28px] xl:text-[40px] font-semibold text-[#3cffae];
  }
}
